.example-card {
    flex: 0.5;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.titReg{
  display: flex;
  left: 40%;
  width: 100%;
  font-size: 150%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  align-content: center;
}

.btnReg{
  left: 40%;
  margin: 10px;
  border-radius: 8px;
}