<div class="container mt-5">

  <!-- Success Creation
  <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="creado == true">
    <strong>Éxito</strong> El restaurante ha sido creado
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  Success Creation
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="creado == false">
    <strong>Ups!</strong> El restaurante no ha podido crearse !!!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->



  <div class="row justify-content-center">
    <form action="" class="col-md-6" #frmCrearRest="ngForm" (ngSubmit)="crearRestaurant(frmCrearRest)">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" [ngClass]="{'border-danger': nombre.touched && !nombre.valid}" #nombre="ngModel"
          name="nombre" id="nombre" class="form-control" placeholder="Ingrese el Nombre del Restaurant"
          [(ngModel)]="objRestaurant.Nombre" required>
        <small class="text-danger" *ngIf="nombre.touched && !nombre.valid">
          El campo de nombre es obligatorio siñosrh
        </small>
      </div>
      <div class="form-group">
        <label for="imagen">Url de la imagen</label>
        <input type="text" [ngClass]="{'border-danger': imagen.touched && !imagen.valid}" #imagen="ngModel"
          name="imagen" id="imagen" class="form-control" placeholder="Ingrese la url de la imagen"
          [(ngModel)]="objRestaurant.Imagen" required>
        <small class="text-danger" *ngIf="imagen.touched && !imagen.valid">
          El campo de imagen es obligatorio siñosrh
        </small>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-block btn-primary" value="Crear Restaurante"
          [disabled]="!frmCrearRest.form.valid">
      </div>
    </form>
  </div>

</div>