<div class="container-fluid mt-5">
  <div class="spinner-grow"
        role="status"
        *ngIf="restaurants==null">
    <span class="sr-only">Loading...</span>
  </div>
  <table datatable class="table" *ngIf="restaurants">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rest of restaurants">
        <td>{{rest.id}}</td>
        <td>{{rest.Nombre}}</td>
        <td><img src="{{rest.Imagen}}" width="50" height="50" alt="imagen {{rest.id}}"></td>
      </tr>
    </tbody>
  </table>
</div>