/* body{
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
} */
#rgb{
    color: rgb(155, 44, 13);
}
#hex{
    color: #37fa2c;
}
#rgba{
    color: rgba(200,24,100,0.5);
}

#tamanio{
    width: 350px;
    height: 150px;
    border: 1px solid red;
    overflow: scroll;
    overflow-x: hidden;
}
