/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,body{
    margin:0;
}
.container{
    height:100vh;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgb(61, 60, 60)
}
.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
